{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "rules": {
        "no-console": "off",
        "no-trailing-spaces": "error",
        "no-multiple-empty-lines": "error",
        "consistent-return": "error",
        "comma-dangle": ["error", "never"],
        "no-use-before-define": ["error", "nofunc"],
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "import/default": "off",
        "import/newline-after-import": "error",
        "import/imports-first": "error",
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [".js"]
            }
        ],
        "react/prefer-stateless-function": "off"
    },
    "plugins": [
        "import",
        "react"
    ]
}